.card-project {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #82589F;
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 0 #95a5a6;
}

.card-project.-blue {
    background-color: #4C5B84;
}