.main-section {
    background-color: #82589F;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #1DD1A1;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgBlack {
    background-color: #000;
    padding-top: 60px;
    padding-bottom: 90px;
}

.main-section.-bdGray {
    border-bottom: 10px solid #2F3542;
}

.main-section.-about {
    padding-top: 50px;
    padding-bottom: 50px;
}

.main-section.-bdBlack {
    border-bottom: 10px solid #000;
}
